<!DOCTYPE html>
<html>
<head>
	<title>Niklas Lund - About</title>
	<link rel="stylesheet" type="text/css" href="about_style.css">
	<script type="text/javascript" src="about_script.js"></script>
</head>
<body>
	<h1>Niklas Lund</h1>
	<p>Skills:</p>
	<ul>
		<li>Python</li>
		<li>Javascript</li>
		<li>HTML</li>
		<li>CSS</li>
	</ul>
	<p>Projects:</p>
	<ul>
		<li><a href="about/email">Automated email</a></li>
		<li><a href="about/rpg">RPG.PY Text-RPG</a></li>
		<li><a href="about/encyc">RPG.PY Encyclopedia</a></li>
		<br>
		<li>Work Projects:
			<ul>
				<li><a href="about/site">Internal Site for searching and displaying IPs</a></li>
				<li><a href="about/xml">Generating Database XML-Files</a></li>
			</ul>
		</li>
	</ul>


</body>
</html>