<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Generating Database XML-Files</h1>

<h3>Problem:</h3>
<p style="width: 30%">All the assets we stored had to have a "scanned date" or else it was not considered valid. So for example if you updated the position manually in the program
 it would not get that date, since it would have to be physically scanned.<br><br> A problem occurs if it is a serial number/code that is inside the chassi of a machine (e.x battery units)
  we would not be able to physically scan those since we would have to power off the machine.</p>

<br>
<h3>Solution:</h3>
<p style="width: 30%">I wrote a commandline script that we could use to enter serial numbers manually and generate the same XML-files the scanner would do, enabling us to import it to our database program as normal.</p>

<br>
<h3>Technologies used:</h3>
<ul>
	<li>Python 3.5</li>
</ul>
</body>
</html>