<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>RPG.PY Encyclopedia</h1>

<h3>Problem:</h3>
<p style="width: 30%">My Text-RPG needed some sort of wiki, update blog and frontpage</p>

<br>
<h3>Solution:</h3>
<p style="width: 30%">I wrote a small website displaying that.<br><br>It's still an ongoing project and I am adding more to it every day.<br><br>You can find it on 
<a href="http://www.niklaslund.me">www.niklaslund.me</a></p>

<br>
<h3>Technologies used:</h3>
<ul>
	<li>Python 3.5</li>
	<ul>
		<li>Flask</li>
	</ul>
	<li>SQLAlchemy</li>
	<li>HTML</li>
	<li>CSS</li>
	<li>Javascript</li>
</ul>
<br>
<h3>Source Code:</h3>
<p>Coming soon...</p>
</body>
</html>