<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>RPG.PY Text-RPG</h1>

<h3>Problem:</h3>
<p style="width: 30%">I wanted to make a text-rpg.</p>
<h3>Solution:</h3>
<p style="width: 30%">About one and a half year ago I decided I wanted to make a text-rpg that is available to be run through the terminal.
<br><br>
Even though I haven't been working on it constantly, it has been a very good learning experience and I am constantly changing/refactoring code
<br><br>Currently up to about 3000 lines of code.
<br><br>
The current features can be found on <a href="http://www.niklaslund.me">www.niklaslund.me</a></p>

<br>
<h3>Technologies used:</h3>
<ul>
	<li>Python 3.5</li>
	<ul>
		<li>CMD</li>
		<ul>
			<li>For the easy commandline interface and errorhandling</li>
		</ul>
		<li>Colorama</li>
		<ul>
			<li>To get away from the black and white and highlift different things (speech, foes, items etc)</li>
		</ul>
	</ul>
</ul>
<br>
<h3>Source Code:</h3>
<p>Coming soon...</p>
</body>
</html>