<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Automated Email</h1>

<h3>Problem:</h3>
<p style="width: 30%">I had a raspberry pi which I have used to gather chat-data from counterstrike tournaments on twitch which didn't really have a purpose anymore</p>

<br>
<h3>Solution:</h3>
<p style="width: 30%">I wrote a script that would send me an email each morning before I went to work with:</p>
<ul>
	<li>A random comicstrip from <a href="http://garfieldminusgarfield.net/">garfieldminusgarfield.net</a></li>
	<li>Train-information from SL</li>
	<li>Weather information from SMHI</li>
</ul>

<br>
<h3>Technologies used:</h3>
<ul>
	<li>Python 3.5</li>
	<ul>
		<li>Requests</li>
	</ul>
	<li>SMHI API</li>
	<li>SL API</li>
</ul>
<br>
<h3>Source Code:</h3>
<p>Coming soon...</p>
</body>
</html>